@import '../reactTodo/src/common/styles/vars';

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
    .todo-item-text-complete {
      color: rgba(135, 135, 135, 0.94);
      text-decoration: line-through;
    }
  .todo-item-action {
    border: 1px solid $mainColor;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in;
    &:hover {
      background-color: $mainColor;
    }
    &:hover .todo-item-action-action {
      color: #fff;
    }
  }
}
